<h1>About Me</h1>
<div class="outerBox">
<div class="aboutBox">
    <p>
My name is Fred Nyambati and I'm and aspiring junior web developer. I'm originally from Baltimore, Maryland before attending DevMountain here in Provo. I have goals for this course as far as; finishing the course in one piece, being able to put together a great personal and group project, and being able to use what I learned here to secure a job as a developer. I have experience in the MEAN stack, but refrence my "projects" tab to see my complete skillset. If you like my website, feel free to head over to the "contact" page to get a hold of me!
    </p>
</div>
</div>