<h1>Contact</h1>
<div class="outerEmail">
<div class = "email">
<a href="mailto:fmnyambati@gmail.com?subject=Hey Fred">Email Me</a>
</div>
</div>
<div class="socialMedia">
    <div class="icons">
        <a href="https://www.linkedin.com/in/fredrick-nyambati-48b94b101">
            <img class="blue" src="/img/icon-linkedin.png">
        </a>
        <img class="blue" src="/img/fi-social-snapchat-256-000000.png">

        <a href="https://www.instagram.com/fredmn_/">
            <img class="blue" src="/img/instagram-xxl.png">
        </a>
        <a href="https://www.facebook.com/fred.nyambati">
            <img class="blue" src="/img/facebook-2048-black.png">
        </a>
        <a href="https://github.com/FNyambati">
            <img class="blue" src="/img/25231.png">
        </a>
        <a href="https://twitter.com/fredadupe">
            <img class="blue" src="/img/Twitter-icon---black-300x174.png">
        </a>
    </div>
</div>