<h1>Projects and Experience</h1>
<div class="outerFutures">
    <div class="futures">
        <div class="personalProject">
            <div class="pp"><a ui-sref='frog'>PersonalProject</a></div>
        </div>
        <div class="groupProject">
            <div class="gp"><a ui-sref='frog'>GroupProject</a></div>
        </div>
    </div>
</div>
<h2>Skill<span>$</span></h2>
<div class="outerSkillz">
    <div class="skillsBox">
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
            <img class="skill" src="/img/HTML5_1Color_Black.png">
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
            <img class="skill" src="/img/css3-02.png">
        </a>
        <a href="https://www.javascript.com/">
            <img class="skill" src="/img/1024px-Unofficial_JavaScript_logo.svg.png">
        </a>
        <a href="https://jquery.com/">
            <img class="skill" src="/img/2000px-JQuery_logo_text.svg.png">
        </a>
        <a href="https://facebook.github.io/react/">
            <img class="skill" src="/img/react.png">
        </a>
        <a href="https://www.firebase.com/">
            <img class="skill" src="/img/plainicon.com-50214-512px-e05.png">
        </a>
        <a href="http://mean.io/#!/">
            <img class="skill" src="/img/mean3.png">
        </a>
    </div>
</div>